section {
  padding: 2rem 0;

  p:last-child {
    text-align: center;
  }
}

.hero {
  padding-bottom: 3rem;

  a {
    margin-top: 1.5rem;
    background: linear-gradient(#fff, #fff) no-repeat scroll 0px 87% / 0.05em 1px, linear-gradient(#fff, #fff) no-repeat scroll 100% 87% / 0.05em 1px, linear-gradient($link, $link) repeat-x scroll 0px 87% / 1px 1px transparent;
    letter-spacing: -0.5px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.6;
  }
}

.faq {
  a {
    color: $black;
  }

  p:first-child {
    margin-top: 0;
  }
}
