section {
  padding: 2rem 0;
}

.hero {
  a {
    margin-top: 1.5rem;
    letter-spacing: -0.5px;
    font-weight: 600;
    font-size: 1rem;
  }
}

.faq {
  a {
    color: $black;
  }

  p:first-child {
    margin-top: 0;
  }
}
